.list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}

.findContactsWrapper {
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 20px;
  & p:last-child {
    font-size: 20px;
    font-weight: 700px;
    color: brown;
  }
}
